COLLEGE - 4/XML/UNIT_4/Emp_mix.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Emp_mix" type="Emp_mixtype"/>
		<xsd:complexType name="Emp_mixtype" mixed="true">
			<xsd:sequence>
				<xsd:element name="first_name" type="xsd:string"/>
				<xsd:element name="last_name" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
