COLLEGE - 4/XML/UNIT_4/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="EMPLOYEE" type="EmployeeType"/>
		<xsd:complexType name="EmployeeType">
			<xsd:sequence>
				<xsd:element name="EMP_NO" type="xsd:integer"/>
				<xsd:element name="EMP_NAME" type="xsd:string"/>
				<xsd:element name="DESIGNATION" type="xsd:string"/>
				<xsd:element name="SALARY" type="xsd:integer"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
