COLLEGE - 4/XML/UNIT_4/list_emp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		
	<xsd:element name="emp_no" type="five_list"/>
		<xsd:simpleType name="five_list">
			<xsd:restriction base="emp_list">
				<xsd:length value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
		<xsd:simpleType name="emp_list">
			<xsd:list itemType="xsd:int"/>
		</xsd:simpleType>
</xsd:schema>
