COLLEGE - 4/XML/UNIT_4/student1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="STUDENT" type="StudentType"/>
		<xsd:complexType name="StudentType">
			<xsd:sequence>
				<xsd:element name="ROLL_NUMBER" type="xsd:integer"/>
				<xsd:element name="NAME" type="xsd:string"/>
				<xsd:element name="MARKS" type="xsd:integer"/>
				<xsd:element name="RESULT" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>
