COLLEGE - 4/XML/Unit - 2/seven.dtd

<!ELEMENT Email (from,to,content)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT content (#PCDATA | person | exercises | course)*>
<!ELEMENT person (#PCDATA)>
<!ELEMENT exercises (exercise+)>
<!ELEMENT exercise (topic,discription)>
<!ELEMENT topic (#PCDATA)>
<!ELEMENT discription (#PCDATA)>
<!ELEMENT course (#PCDATA)>