COLLEGE - 4/XML/Unit - 2/six.dtd

<!ELEMENT Student (Name,ID,Plan)>
<!ELEMENT Name (fname,lname)>
<!ELEMENT fname (#PCDATA)>
<!ELEMENT lname (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Plan (courses)>
<!ELEMENT courses (course*)>
<!ATTLIST courses year CDATA #REQUIRED>
<!ELEMENT course (name,shortName,record*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT shortName (#PCDATA)>
<!ELEMENT record (Grade,date)>
<!ELEMENT Grade (#PCDATA)>
<!ELEMENT date (#PCDATA)>